@page "/editbooking/package/{id}"
@using BlazorHotelBooking.Shared
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@inject NavigationManager NavigationManager
@attribute [Authorize]


<PageTitle> Edit Booking </PageTitle>
<h7>Editing booking for @hotel.Name on @selectedBooking.HotelCheckIn.ToString("dd/MM/yyyy") & @tour.Name on @selectedBooking.TourStartDate</h7>


<EditForm Model="selectedBooking" OnSubmit="HandleSubmit">
    <div>
        <label for="HotelName">Hotel</label>
        <InputText id="HotelName" @bind-Value="hotel.Name" class="form-control" disabled="true" />
    </div>
    <div>
        <label for="RoomType">Room Type</label>
        <InputSelect id="roomType" @bind-Value="selectedBooking.RoomType" placeholder="Room Type">
            <option value="">---</option>
            @foreach (var room in roomType)
            {
                <option value="@room">@room</option>
            }
        </InputSelect>
    </div>
    <div>
        <label for="NumOfNights">Number Of Nights</label>
        <InputNumber id="NumOfNights" @bind-Value="selectedBooking.NumberOfNights" class="form-control" />
    </div>
    <br/>
    <br/>
    <div>
        <label for="TourName">Tour</label>
        <InputText id="TourName" @bind-Value="tour.Name" class="form-control" disabled="true" />
    </div>
    <div>
        <label for="NumOfPeople">Number Of Guests</label>
        <InputNumber id="NumOfPeople" @bind-Value="selectedBooking.NumberOfPeopleOnTour" class="form-control" />
    </div>





    @{
        var currentDeposit = selectedBooking.DepositAmountPaid;
        decimal currentTotal = selectedBooking.TotalPrice;
        var currentCheckOut = selectedBooking.HotelCheckOut;

        switch (selectedBooking.RoomType)
        {
            case "Single":
                newTotal = (hotel.SBPrice * selectedBooking.NumberOfNights) + tour.Cost;
                newTotal = newTotal * (decimal)0.9;
                newDeposit = newTotal / 5;
                newCheckOut = selectedBooking.HotelCheckIn.AddDays(selectedBooking.NumberOfNights);
                break;
            case "Double":
                newTotal = (hotel.DBPrice * selectedBooking.NumberOfNights) + tour.Cost;
                newTotal = newTotal * (decimal)0.8;
                newDeposit = newTotal / 5;
                newCheckOut = selectedBooking.HotelCheckIn.AddDays(selectedBooking.NumberOfNights);
                break;
            case "Family":
                newTotal = (hotel.FamPrice * selectedBooking.NumberOfNights) + tour.Cost;
                newTotal = newTotal * (decimal)0.6;
                newDeposit = newTotal / 5;
                newCheckOut = selectedBooking.HotelCheckIn.AddDays(selectedBooking.NumberOfNights);
                break;
        }


        if(selectedBooking.PaidInfull)
        {
            if (newTotal > currentTotal)
            {
                difference = newTotal - currentTotal;
                <div>
                    <p>The new total for this booking is £@newTotal</p>
                    <p>You will need to pay £@difference more to complete this booking</p>
                </div>
            }
            else if (newTotal < currentTotal)
            {
                var refund = currentTotal - newTotal;
                difference = refund * -1;
                <div>
                    <p>The new total for this booking is £@newTotal</p>
                    <p>You will be refunded £@refund</p>
                </div>
            }
        }
        else
        {
            if (newTotal > currentTotal)
            {
                difference = newDeposit - currentDeposit;
                <div>
                    <p>The new total for this booking is £@newTotal</p>
                    <p>The new deposit for this booking is £@newDeposit</p>
                    <p>You will need to pay £@difference more to complete this booking</p>
                </div>

            }
            else if (newTotal < currentTotal)
            {
                var refund = currentDeposit - newDeposit;
                difference = refund * -1;
                <div>
                    <p>The new total for this booking is £@newTotal</p>
                    <p>The new deposit for this booking is £@newDeposit</p>
                    <p>You will be refunded £@refund</p>
                </div>

            }
        }

        surcharge = newTotal * (decimal)0.05;

        <p>Modifying this booking will also incure a 5% surcharge (£@surcharge)</p>

        if (showHotelOverlap)
        {
            <div class="alert alert-danger" role="alert">
                <p>There are no more spaces for this room on these dates please select new dates.</p>
            </div>
        }

        if (showTourOverlap)
        {
            <div class="alert alert-danger" role="alert">
                <p>There are no more spaces left in this tour for that many people on these dates please select new dates or less people.</p>
            </div>
        }
    }
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm> 


@code {
    [Parameter]
    public string? Id { get; set; }

    private PackageBooking selectedBooking = new PackageBooking();
    private Hotel hotel = new Hotel();
    private Tour tour = new Tour();
    List<string> roomType = new List<string>() { "Single", "Double", "Family" };
    private int currentNights;
    private decimal newTotal, newDeposit;
    private DateTime newCheckOut;
    private int numOfTourOverlap, numOfHotelOverlap;
    private bool showHotelOverlap, showTourOverlap = false;
    private decimal difference;
    private decimal surcharge;

    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var result = await http.GetFromJsonAsync<PackageBooking>($"api/bookings/package/{Id}");
            if (result is not null)
            {
                selectedBooking = result;
            }
        }

        currentNights = selectedBooking.NumberOfNights;

        hotel = await http.GetFromJsonAsync<Hotel>($"api/hotel/{selectedBooking.HotelId}");
        tour = await http.GetFromJsonAsync<Tour>($"api/tour/{selectedBooking.TourId}");
    }

    async Task HandleSubmit()
    {

        if (selectedBooking.PaidInfull)
        {
            selectedBooking.DepositAmountPaid = newTotal;
            selectedBooking.TotalPrice = newTotal;
        }
        else
        {
            selectedBooking.DepositAmountPaid = newDeposit;
            selectedBooking.TotalPrice = newTotal;
        }
        
        selectedBooking.HotelCheckOut = newCheckOut;

        numOfHotelOverlap = await http.GetFromJsonAsync<int>($"/api/bookings/hotel/overlap?checkIn={selectedBooking.HotelCheckIn}&checkOut={selectedBooking.HotelCheckOut}&hotelId={hotel.Id}&roomType={selectedBooking.RoomType}");

        numOfTourOverlap = await http.GetFromJsonAsync<int>($"/api/bookings/tour/overlap?start={selectedBooking.TourStartDate}&end={selectedBooking.TourEndDate}&tourId={tour.Id}");

        if ((tour.MaxNumberOfGuests < numOfTourOverlap + selectedBooking.NumberOfPeopleOnTour) & (numOfHotelOverlap > 20))
        {
            showHotelOverlap = true;
            showTourOverlap = true;
        }
        else
        {
            await http.PutAsJsonAsync($"api/bookings/package/{Id}?paymentRemainder={difference}&surcharge={surcharge}", selectedBooking);
            NavigationManager.NavigateTo("/mybookings");
        }
    }



       

    
}
